$default-padding: 2rem;

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid red;
}
.flash {
  box-shadow: 0 0 4px 1px orange;
  transition: box-shadow 400ms ease-out;
}
